[Desktop Entry]
Encoding=UTF-8
Name=Link to moveit_visual_tools/moveit_visual_tools_demo.cpp at kinetic-devel · ros-planning/moveit_visual_tools · GitHub
Type=Link
URL=https://github.com/ros-planning/moveit_visual_tools/blob/kinetic-devel/src/moveit_visual_tools_demo.cpp
Icon=text-html
Name[en_US]=moveit_visual_tools_demo cpp
